*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(img/logo.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    background-color:rgb(0, 0, 0);
    padding: 20px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform:uppercase;
}
.content-container{
    padding: 200px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.content-inputs:focus{
    border: 2px solid rgb(202, 161, 103);

}
.content-right{
    padding:72px;
    color: rgb(202, 161, 103) ;
    text-align: center;
}
.content-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(202, 161, 103);
    border: none;
    border-radius: 50px;
    background:linear-gradient(270deg,rgb(156, 119, 68),rgb(48, 37, 2));
    cursor: pointer;
}
.content-left-title hr{
    border: none;
    width: 43+0px;
    height: 2px;
    background-color:rgb(183, 166, 166);
    border-radius: 1px;}


@media(max-widh:800px){
    .content-inputs{
        width: 80vw;
    }
    .content-right{
        display: none;
    }
}
